<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">Welcome</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"yep","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">yep</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"wte!"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--large btn--blue">wte!</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage":"apples.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Slide#1","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Slide#1</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Click","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Click</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"bus.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Slide#2","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Slide#2</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Click","size":"medium","colorName":"dark-orange"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--dark-orange">Click</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->